@font-face {
 font-family: 'Neo Sans Std Medium TR';
 src: url('../fonts/NeoSansStdMediumTR.eot');
 src: url('../fonts/NeoSansStdMediumTR.eot?#iefix') format('embedded-opentype'), url('../fonts/NeoSansStdMediumTR.woff2') format('woff2'), url('../fonts/NeoSansStdMediumTR.woff') format('woff'), url('../fonts/NeoSansStdMediumTR.ttf') format('truetype'), url('../fonts/NeoSansStdMediumTR.svg#NeoSansStdMediumTR') format('svg');
 font-weight: 500;
 font-style: normal;
}
@font-face {
 font-family: 'Neo Sans Bold';
 src: url('../fonts/NeoSansStd-Bold.eot');
 src: url('../fonts/NeoSansStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/NeoSansStd-Bold.woff2') format('woff2'), url('../fonts/NeoSansStd-Bold.woff') format('woff'), url('../fonts/NeoSansStd-Bold.ttf') format('truetype'), url('../fonts/NeoSansStd-Bold.svg#NeoSansStd-Bold') format('svg');
 font-weight: bold;
 font-style: normal;
}
@font-face {
 font-family: 'Neo Sans Regular';
 src: url('../fonts/NeoSansStd-Regular.eot');
 src: url('../fonts/NeoSansStd-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/NeoSansStd-Regular.woff2') format('woff2'), url('../fonts/NeoSansStd-Regular.woff') format('woff'), url('../fonts/NeoSansStd-Regular.ttf') format('truetype'), url('../fonts/NeoSansStd-Regular.svg#NeoSansStd-Regular') format('svg');
 font-weight: normal;
 font-style: normal;
}
body {
	background: #fff;
	font-family: 'Neo Sans Regular';
	font-size: 15px;
	margin: 0;
	padding: 0;
	color: #58595b;
	padding-bottom: 20px;
}
a, img, h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
	outline: none;
	border: 0;
	text-decoration: none;
	font-weight: normal;
}
.container {
	max-width: 1170px;
	width: 98%;
	margin: auto;
}
.main-wraper {
	width: 100%;
	margin: auto;
}
a {
	color: #2d3947;
}
a:hover {
	text-decoration:underline;
}
.clear {
	clear: both;
}
.header {
	background: #a2282e;
}
.header .logo {
	float: left;
}
#popupbox {
	margin: 0;
	margin-left: 60%;
	margin-right: 20%;
	margin-top: 100px;
	padding:7px 15px 15px;
	box-shadow: 0px 0px 15px #494545;
	width:235px;
	height: 280px;
	position: absolute;
	background:#fff;
	border: solid #cacaca 1px;
	z-index: 9;
	font-family: arial;
	font-size:11px;
	display:none;
	border-radius:10px;
	text-align:center;
}
#popupbox span {
	display:block;
	font-family: 'Neo Sans Bold';
	color:#58595b;
	font-size:15px;
	padding:0 0 5px 0;
	text-align:left;
}
#popupbox input {
	width: 100%;
	display: inline-block;
	height: 35px;
	padding: 4px 6px;
	margin-bottom: 9px;
	font-size: 14px;
	line-height: 20px;
	border:1px solid #cccccc;
	color: #555555;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	text-indent:inherit;
	border-radius: 3px;
}
#popupbox input.captcha {
	width:130px;
	float:left;
}
#popupbox input[type="submit"] {
	background: #a2282e;
	color: #fff;
	width: auto;
	height: 29px;
	border-radius: 6px;
	text-align: center;
	font-size: 15px;
	padding: 0 15px;
	display: inline-block;
	line-height: 29px;
	text-transform: uppercase;
	border: 0;
	margin: 5px 5px 9px;
	cursor:pointer;
	text-indent:inherit;
}
#popupbox a {
	color:#000;
	font-size:15px;
}
#popupbox .close {
	width:24px;
	height:24px;
	background:#a2282e;
	color:#fff;
	display:block;
	float:right;
	border-radius:50%;
	text-align:center;
	font-size:12px;
	line-height:24px;
}
#toTop {
	background: #101010 url("../images/backtotop-arrow.png") no-repeat scroll 15px center;
	border-radius: 20px;
	bottom: 60px;
	box-shadow: 0 1px 3px #000000 inset;
	color: #979797;
	cursor: pointer;
	display: none;
	font-size: 12px;
	padding: 8px 5px 8px 15px;
	position: fixed;
	right: 10px;
	text-align: center;
	width: 100px;
	z-index: 100;
}
.main-menu {
	text-align: right;
	float: right;
	margin: 42px 0 0;
}
.main-menu .languages-box {
	background: #fff none repeat scroll 0 0;
	border-radius: 43px;
	float: right;
	margin-left: 45px;
	padding: 6px 0;
	width: 133px;
}
.main-menu .nav {
	float: left;
}
.main-menu ul {
	list-style: none;
}
.main-menu ul.submenu {
	position:absolute;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	opacity:0;
	overflow:hidden;
	visibility:hidden;
}
.main-menu .nav ul li:hover ul.submenu {
	opacity:1;
	visibility:inherit;
}
.main-menu .nav ul li:hover ul.submenu a {
	line-height: 32px;
}
.main-menu .nav ul li ul.submenu li {
	margin:0;
}
.main-menu .nav ul li.menuparent > a {
	background:url("../images/main-menu-arrow-black.png") no-repeat right center;
	padding:0 21px 5px 0;
}
.main-menu .nav ul li {
	display: inline-block;
	margin: 0 0 0 30px;
}
.main-menu .nav ul li a {
	font-size: 16px;
	font-family: 'Neo Sans Regular';
	line-height: 20px;
	color: #fff;
}
.main-menu .nav ul li a:hover, .main-menu .nav ul li a.active {
}
.main-slider {
	background: #fff;
	padding-bottom: 30px;
}
.customers-box {
	width: 29%;
	background: #fff;
	border-radius: 30px;
	box-shadow: 1px 1px 15px #ccc;
	text-align: center;
	float: left;
	margin: 5% 0 3% 7%;
	overflow: hidden;
	padding-bottom: 2%;
}
.customers-boxm {
	width: 100%;
	background: #ff;
	border-radius: 30px;
	box-shadow: 1px 1px 15px #ccc;
	text-align: center;
	float: left;
	margin: 0% 0 3% 7%;
	overflow: hidden;
	padding-bottom: 2%;
}
.customers-box a.call-btn {
	background: url(../images/call-icon.png) no-repeat left center;
	padding: 1px 0 3px 27px;
	color: #303030;
	font-size: 18px;
}
.customers-boxm a.call-btn {
	background: url(../images/call-icon.png) no-repeat left center;
	padding: 1px 0 3px 27px;
	color: #303030;
	font-size: 18px;
}
.customers-box a.apply-btn {
	background: url(../images/red-arrows.png) no-repeat left center;
	padding: 1px 0 3px 21px;
	text-decoration: underline;
	color: #a2282e;
	font-size: 22px;
}
.customers-boxm a.apply-btn {
	background: url(../images/red-arrows.png) no-repeat left center;
	padding: 1px 0 3px 21px;
	text-decoration: underline;
	color: #a2282e;
	font-size: 22px;
}
a.button-red {
	border-radius: 30px;
	color: #a2282e;
	border: 2px solid #a2282e;
	font-size: 18px;
	display: inline-block;
	padding: 13px 35px;
}
.customers-box p.head {
	font-family: 'Neo Sans Std Medium TR';
	font-size: 22px;
	padding: 16px 0;
	color: #fff;
	background: #a2282e;
}
.customers-box p {
	color: #2d3947;
	line-height: 26px;
	font-size: 16px;
	padding: 25px 6%;
}
.customers-boxm p.head {
	font-family: 'Neo Sans Std Medium TR';
	font-size: 22px;
	padding: 16px 0;
	color: #fff;
	background: #a2282e;
}
.customers-boxm p {
	color: #2d3947;
	line-height: 26px;
	font-size: 16px;
	padding: 25px 6%;
}
.featured-car {
	float: right;
	margin: 5% 2% 17px 0;
	width: 56%;
}
.featured-car h1 {
	font-family: 'Neo Sans Bold';
	font-size: 42px;
	color: #a2282e;
	padding-bottom: 11px;
}
.featured-car p {
	font-family: 'Neo Sans Regular';
	font-size: 42px;
	color: #2d3947;
	padding-bottom: 11px;
}
.page-head {
	text-align: center;
	padding: 30px 0 35px;
}
.page-head h1 {
	font-family: 'Neo Sans Bold';
	font-size: 40px;
	color: #4c4d4f;
	position: relative;
}
.page-head h1::after {
 content: "";
 width: 90px;
 display: inline-block;
 height: 2px;
 background: #4c4d4f;
 margin: 0 15px 0;
 position:relative;
 top: -13px;
}
.page-head h1::before {
 content: "";
 width: 90px;
 display: inline-block;
 height: 2px;
 background: #4c4d4f;
 margin: 0 15px 0;
 position:relative;
 top: -13px;
}
.site-content .contactus p {
	line-height:30px;
	padding-bottom:5px;
}
.site-content .contactus p.address-contact {
	background: url(../images/location-icon.png) no-repeat left center;
	padding: 0 25px 3px;
}
.site-content .contactus p.tell-contact {
	background: url(../images/phone-icon.png) no-repeat left center;
	padding: 0 25px 3px;
}
.site-content .contactus p.fax-contact {
	background: url(../images/fax-icon.png) no-repeat left center;
	padding: 0 25px 3px;
}
.site-content .contactus p.info-contact {
	background: url(../images/mail-icon.png) no-repeat left center;
	padding: 0 25px 3px;
}
.banner-text span {
	color: #58595b;
}
.service-wrap {
	padding: 13px 0 40px;
	background:#ededed;
}
.service-wrap ul {
	list-style: none;
	background: #fff;
	padding: 2%;
	float: left;
	border-radius: 16px;
}
.service-wrap ul li {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border: 1px solid #dcdcdc;
	border-top: 2px solid #dcdcdc;
	color: #1d1d1d;
	float: left;
	font-size: 16px;
	min-height: 180px;
	padding: 1% 0 2%;
	text-align: center;
	width: 33%;
	border-bottom: 1px solid #fff;
}
.service-wrap ul li:hover {
	box-shadow: 0 -1px 10px #c2c2c2;
}
.service-wrap ul li:first-child {
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
}
.service-wrap ul li:nth-child(2) {
 border-top: 1px solid #fff;
}
.service-wrap ul li:nth-child(3) {
 border-top: 1px solid #fff;
 border-right: 1px solid #fff;
}
.service-wrap ul li:nth-child(4) {
 border-left: 1px solid #fff;
}
.service-wrap ul li:last-child {
	border-right: 1px solid #fff;
}
.service-wrap ul li:nth-child(5) {
 border-bottom: 1px solid #fff;
}
.service-wrap ul li h2 {
	font-size: 23px;
	color: #a2282e;
	font-family: 'Neo Sans Std Medium TR';
}
.service-wrap ul li p {
	padding: 10px 10px 0;
	color: #1d1d1d;
}
.service-wrap ul li:last-child {
	background: none;
}
.service-wrap ul li span.icon {
	display: block;
	margin: 15px 15px 10px;
}
.service-wrap ul li a {
	font-size: 23px;
	color: #f59fc4;
	text-align: center;
}
.service-wrap ul li span {
	color: #a1a1a1;
}
.featured-text {
	left: 5%;
	position: absolute;
	text-align: center;
	top:59px;
	width: 47%;
}
.featured-text h1 {
	color: #a2282e;
	font-family: "Neo Sans Bold";
	font-size: 42px;
	padding-bottom: 11px;
}
.featured-text p {
	color: #2d3947;
	font-family: "Neo Sans Regular";
	font-size: 42px;
	padding-bottom: 28px
}
.featured-car-banner {
	position:relative;
}
.featured-car-banner .feature-car {
	float:right;
	width:48%;
	margin-right: 4%;
	margin-top: 2%;
}
.inner-banner {
	background: #fff url("../images/shadow-box.png") no-repeat scroll center bottom / 100% auto;
	margin: 0;
	padding-bottom:160px;
	position: relative;
	width: 100%;
}
.conten-section {
	margin:20px 0 0;
	padding-bottom:40px;
}
.side-bar {
	width: 29%;
	float:left;
}
.side-bar .customers-box {
	margin:0;
	width:100%;
}
.site-content {
	width:66%;
	float:right;
}
.site-content h2 {
	color: #4c4d4f;
	font-family: "Neo Sans Bold";
	font-size: 40px;
	position: relative;
	margin-bottom:10px;
}
.site-content p {
	color: #1d1d1d;
	font-size: 14px;
	line-height: 33px;
	padding: 0 0 20px;
}
.site-content a {
	color:#a2282e;
}
.site-content ul li {
	color: #1d1d1d;
	font-size: 14px;
	line-height: 33px;
	list-style:url(../images/list-img.png);
}
.site-content ul {
	margin: 0 0 25px 15px;
}
.site-content h3 {
	color: #a2282e;
	font-size: 20px;
	padding:0 0 10px;
	font-family: 'Neo Sans Std Medium TR';
}
.site-content ul.promotion-lists {
	margin:0;
}
.site-content .promotion-lists li {
	list-style:none;
	float:left;
	width:100%;
	margin-bottom: 22px;
}
.promotion-lists li .pr-img {
	float:left;
	margin:0 15px 0 0;
}
.promotion-lists li .pr-detail {
	overflow:hidden;
}
.site-content .promotion-lists li .pr-detail h3 {
	line-height:normal;
}
.site-content .promotion-lists li p {
	line-height: 26px;
}
.map-box {
	margin-bottom:10px;
}
.branches-box {
	width:100%;
	float:left;
}
.branches-box .branches {
	width: 28%;
	float: left;
	background: #ececec;
	padding: 2%;
	margin: 0 2% 2% 0;
	min-height: 135px;
}
.branches-box .branches:nth-child(3n+3) {
margin-right:0;
}
.branches-box .branches h4 {
	font-size:14px;
	font-family: 'Neo Sans Bold';
	color:#a2282e;
	margin-bottom:5px;
}
.branches-box .branches p {
	margin-bottom:0;
	padding-bottom:0;
	line-height: 23px;
}
.footer {
	background: #a2282e;
}
.footer-logo {
	margin: 15px 0;
	float: left;
}
.footer h2 {
	font-size: 18px;
	color: #f9a0cb;
	margin-bottom: 11px;
	text-transform: uppercase;
}
.footer .box1 h2 {
	margin-bottom: 3px;
	text-transform: inherit;
}
.footer .box1 h2 span {
	font-size: 15px;
	color: #58595b;
}
.footer .footer-content {
	font-size: 14px;
	color: #58595b;
}
.footer .box1 {
	float: left;
	margin-right: 16px;
	padding-bottom: 20px;
	width: 303px;
}
.footer .box2 {
	width: 255px;
	float: left;
	margin-bottom: 5px;
	margin-left: 20px;
}
.footer .box2 ul {
	list-style: none;
	margin-bottom: 15px;
}
.footer a {
	color: #58595b;
	font-size: 14px;
}
.social-box {
	float: left;
	margin-left: 29%;
	margin-top: 3.8%;
}
.social-box a {
	display: inline-block;
	margin: 0 5px 0 0;
}
.footer-menu {
	float: right;
	margin-top: 52px;
}
.footer-menu ul {
	list-style: none;
}
.footer-menu ul li {
	display: inline-block;
	margin: 0 0 0 15px;
}
.footer-menu ul li a {
	color: #fff;
	font-size: 14px;
}
.copyright {
	background: #981a20;
	line-height: 28px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding: 10px 0;
}
/*Preloading*/

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	bottom: 0;
	background-color: #fff;
	z-index: 999999999;
}
.sk-spinner-wave.sk-spinner {
	font-size: 10px;
	height: 30px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 40%;
	width: 243px;
}
.ie8 .sk-spinner-wave.sk-spinner {
	display: none;
}
.sk-spinner-wave div {
	background-color: #a2282e;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
	animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}
.sk-spinner-wave .sk-rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}
.sk-spinner-wave .sk-rect3 {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}
.sk-spinner-wave .sk-rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}
.sk-spinner-wave .sk-rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}
 @-webkit-keyframes sk-waveStretchDelay {
 0%, 40%, 100% {
-webkit-transform: scaleY(0.4);
transform: scaleY(0.4);
}
 20% {
-webkit-transform: scaleY(1);
transform: scaleY(1);
}
}
 @keyframes sk-waveStretchDelay {
 0%, 40%, 100% {
-webkit-transform: scaleY(0.4);
transform: scaleY(0.4);
}
 20% {
-webkit-transform: scaleY(1);
transform: scaleY(1);
}
}
img {
	max-width:100%;
}
.appyform {
	float:left;
	width:100%;
}
.appyform p {
	padding-bottom:10px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select, textarea {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
 -webkit-transition: border linear .2s, box-shadow linear .2s;
 -moz-transition: border linear .2s, box-shadow linear .2s;
 -o-transition: border linear .2s, box-shadow linear .2s;
 transition: border linear .2s, box-shadow linear .2s;
}
.appyform input[type="text"], .appyform input[type="password"], .appyform input[type="number"], .appyform input[type="tel"], .appyform input[type="search"], .appyform input[type="month"], .appyform input[type="email"], .appyform select, .appyform textarea {
	width:100%;
	display: inline-block;
	height: 42px;
	padding: 4px 6px;
	margin-bottom: 9px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top:7px;
	text-align:left;
}
.appyform .half-box {
	float:right;
	width:48%;
	margin:0 2% 10px 0;
}
.appyform .three-half-box {
	float:left;
	width:31.333%;
	margin:0 2% 10px 0;
}
.appyform .full-box {
	width:98%;
	margin:0 2% 10px 0;
	float:right;
}
.appyform .form-type-radio {
	float: right;
	margin:12px 6px 0 0;
}
.appyform label {
	font-family: 'Neo Sans Bold';
}
.appyform input[type="submit"].submit {
	background: #a2282e !important;
	color: #fff !important;
	font-family: 'Neo Sans Bold';
	font-size: 22px !important;
	cursor: pointer;
	margin:15px auto;
	padding:10px 22px;
	text-shadow: inherit !important;
	text-transform: uppercase;
	border: none;
	display:block;
	border-radius: 3px;
}
.arabic .header .logo {
	float:right;
}
.arabic .main-menu {
	text-align: right;
	float: left;
	margin: 42px 0px 0px;
}
.arabic .main-menu .nav {
	float:right;
}
.arabic .main-menu .languages-box {
	float: left;
	margin-left: 0px;
	width: 133px;
	background: none 0px 0px repeat scroll rgb(255, 255, 255);
	border-radius: 43px;
	padding: 6px 0px;
}
.arabic .featured-car {
	float: right;
	margin: 5% 2% 17px 0;
	width: 56%;
	text-align: right;
}
.arabic .flexslider .customers-box {
	float:right;
	width: 29%;
	text-align: right;
}
.arabic .customers-box p.head {
	font-family: 'Neo Sans Std Medium TR';
	font-size: 22px;
	padding: 16px 18px;
	color: #fff;
	background: #a2282e;
}
.arabic .customers-box p {
	padding: 25px 6%;
}
.arabic .customers-box a.call-btn {
	background: url(../images/call-icon.png) no-repeat left center;
	padding: 1px 20px 3px 27px;
	color: #303030;
	font-size: 18px;
}
.arabic .service-wrap ul li {
	text-align:right;
	padding: 1% 0 2%;
}
.arabic .service-wrap ul li h2 {
	padding: 0 15px 0;
}
.arabic .social-box {
	float: left;
	margin-left: 17%;
	margin-top: 3.8%;
}
.arabic .footer-logo {
	margin: 15px 0;
	float: right;
}
.arabic .footer-menu {
	float: left;
	margin-top: 52px;
}
.arabic .featured-text {
	right: 5%;
	position: absolute;
	top: 59px;
	width: 47%;
	text-align: right;
}
.arabic .featured-car-banner .feature-car {
	float: left;
	width: 48%;
	margin-left: 4%;
	margin-top: 2%;
}
.arabic .featured-text h1 {
	font-size:40px;
}
.arabic .side-bar {
	float:right;
}
.arabic .side-bar .customers-box {
	text-align:right;
}
.arabic .site-content {
	float:left;
}
.arabic .promotion-lists li .pr-img {
	margin: 0 0 0 15px;
	float: right;
}
.arabic .site-content .contactus p.address-contact {
	background: url(../images/location-icon.png) no-repeat right center;
	padding: 0 25px 3px;
}
.arabic .site-content .contactus p.tell-contact {
	background: url(../images/phone-icon.png) no-repeat right center;
	padding: 0 25px 3px;
}
.arabic .site-content .contactus p.fax-contact {
	background: url(../images/fax-icon.png) no-repeat right center;
	padding: 0 25px 3px;
}
.arabic .site-content .contactus p.info-contact {
	background: url(../images/mail-icon.png) no-repeat right center;
	padding: 0 25px 3px;
}
.arabic .customers-boxm {
	width:95%;
}
.arabic .appyform input[type="text"], .arabic .appyform input[type="password"], .arabic .appyform input[type="number"], .arabic .appyform input[type="tel"], .arabic .appyform input[type="search"], .arabic .appyform input[type="month"], .arabic .appyform input[type="email"], .arabic .appyform select, .arabic .appyform textarea {
	text-align: right;
}
.arabic .appyform .three-half-box {
	float: right;
	width: 31.333%;
	margin: 0 2% 10px 0;
}
 @media all and (max-width: 1100px) {
.header .logo {
 float: left;
 width: 159px;
}
.featured-text h1 {
font-size: 28px;
}
.featured-text p {
font-size: 28px;
}
.featured-text {
left: 2%;
 top: 29px;
}
a.button-red {
 padding: 8px 15px;
}
.main-menu {
 margin: 21px 0 0;
}
.main-menu .nav ul li {
margin: 0 0 0 25px;
}
.main-menu .languages-box {
margin-left: 25px;
}
.social-box {
margin-left: 26%;
}
 .arabic .header .logo {
 float: left;
 width: 159px;
}
.arabic .featured-text h1 {
font-size: 28px;
}
.arabic .featured-text p {
font-size: 28px;
}
.arabic .featured-text {
left: 2%;
 top: 29px;
}
.arabic a.button-red {
 padding: 8px 15px;
}
.arabic .main-menu {
 margin: 21px 0 0;
}
.arabic .main-menu .nav ul li {
margin: 0 0 0 25px;
}
.arabic .main-menu .languages-box {
margin-left: 25px;
}
.arabic .social-box {
margin-left: 26%;
}
}
@media all and (max-width: 875px) {
.header .logo {
 margin-bottom: 10px;
 width: 139px;
}
.customers-box p {
 padding: 16px 6%
}
.customers-boxm p {
 padding: 16px 6%
}
.featured-car h1, .featured-car p {
font-size: 33px;
}
.customers-box {
width: 35%;
margin: 5% 0 3% 3%;
}
.customers-boxm {
width: 80%;
margin: 5% 0 3% 3%;
}
.service-wrap ul li {
border:1px solid #ccc !important;
width:49.5%;
}
.social-box {
 margin-left: 22%;
}
.footer-logo {
width: 127px;
}
#popupbox {
 position: relative;
 width: 92%;
 padding: 7px 4%;
 float: left;
 margin: 0;
 height: auto;
 margin-bottom: 21px;
}
 .arabic .flexslider .customers-box {
 margin: 5% 0 3% 3%;
    width: 95%;	
}

.arabic .header .logo {
 margin-bottom: 10px;
 width: 139px;
}
.arabic .customers-box p {
 padding: 16px 6%
}
.arabic .featured-car h1, .featured-car p {
font-size: 33px;
}
.arabic .customers-box {
width: 35%;
margin: 5% 0 3% 3%;
}
.arabic .service-wrap ul li {
border:1px solid #ccc !important;
width:49.5%;
}
.arabic .social-box {
float: left;
    margin-left: 0;
}
.arabic .footer-logo {
width: 127px;
}
}
@media all and (max-width: 760px) {
.customers-box {
 margin: 5% 0 3% 3%;
 width: 95%;
}
.promotion-lists li .pr-detail {
overflow:inherit;
}
.promotion-lists li .pr-img {
width:100px;
}
.featured-car {
 float: right;
 margin: 15px 4% 17px 0;
 width: 91%;
}
.social-box img {
width:35px;
}
.footer-menu {
 float: right;
 margin-top: 0;
 text-align: center;
 width: 100%;
 margin-bottom:10px;
}
.footer-logo {
margin-bottom:0;
width: 94px;
margin: 14px 15px 0;
}
.page-head h1::before {
width: 24px;
}
.page-head h1::after {
width: 24px;
}
.featured-text {
width:98%;
position:relative;
}
.featured-car-banner .feature-car {
 float: none;
 margin: 50px auto 0;
 max-height: 480px;
}
.inner-banner {
padding-bottom: 90px;
}
.side-bar {
width:96%;
float:none;
margin:auto;
}
.site-content {
width:96%;
margin:20px 2%;
float:left;
}
.site-content h2 {
font-size:25px;
}
.map-box iframe {
height:200px;
}
/*arabic*/

.arabic .customers-box {
    margin: 5% 0 3% 3%;
    width: 95%;
}
.arabic .promotion-lists li .pr-detail{
overflow:inherit;
}
.arabic .promotion-lists li .pr-img{
width:100px;
}
.arabic .featured-car {
    float: right;
    margin: 15px 4% 17px 0;
    width: 91%;
}
.arabic .social-box img{width:35px;}
.arabic .footer-menu {
    float: right;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
	margin-top:10px;
}
.arabic .footer-logo{margin-bottom:0;width: 94px; margin: 14px 15px 0;}
.arabic .page-head h1::before{width: 24px;}
.arabic .page-head h1::after{width: 24px;}
.arabic .featured-text{
width:98%;
position:relative;
}
.arabic .featured-car-banner .feature-car{
 float: none;
    margin: 50px auto 0;
    max-height: 480px;
}
.arabic .inner-banner{
padding-bottom: 90px;
}
.arabic .side-bar{
width:96%;
float:none;
margin:auto;
}
.arabic .site-content{
width:96%;
margin:20px 2%;
float:left;
}
.arabic .site-content h2{
font-size:25px;
}
.arabic .map-box iframe{
height:200px;
}


}
@media all and (max-width: 600px) {
.arabic .appyform .three-half-box {
    float: right;
   margin: 0 2% 10px;
    width: 96%;
}	
.header .logo {
width: 110px;
}
.page-head h1 {
 font-size: 30px;
}
.footer-logo {
margin:9px 15px 6px;
}
.service-wrap ul li {
width:100%;
}
.social-box img {
width: 27px;
}
.branches-box .branches {
width:45%;
}
.branches-box .branches:nth-child(3n+3) {
margin-right: 2%;
}
.branches-box .branches:nth-child(2n+2) {
margin-right: 0;
}
.appyform .half-box, .appyform .three-half-box, .appyform .full-box {
width:96%;
margin:0 2% 10px;
}

/*arabic*/
.arabic .header .logo{width: 110px;}	
.arabic .page-head h1{
   font-size: 30px;
}
.arabic .footer-logo{ margin:9px 15px 6px;}
.arabic .service-wrap ul li{width:100%;}
.arabic .social-box img{   width: 27px;}
.arabic .branches-box .branches{
width:45%;
}
.arabic .branches-box .branches:nth-child(3n+3) {
margin-right: 2%;
}
.arabic .branches-box .branches:nth-child(2n+2) {
margin-right: 0;
}
.arabic .appyform .half-box,.appyform .three-half-box,.appyform .full-box{
width:96%;
margin:0 2% 10px;
}
}
