@font-face {
	font-family: 'Lato-Medium';
	src: url('../fonts/Lato-Medium.eot');
	src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Medium.woff2') format('woff2'),
		url('../fonts/Lato-Medium.woff') format('woff'),
		url('../fonts/Lato-Medium.ttf') format('truetype'),
		url('../fonts/Lato-Medium.svg#Lato-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Heavy';
	src: url('../fonts/Lato-Heavy.eot');
	src: url('../fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Heavy.woff2') format('woff2'),
		url('../fonts/Lato-Heavy.woff') format('woff'),
		url('../fonts/Lato-Heavy.ttf') format('truetype'),
		url('../fonts/Lato-Heavy.svg#Lato-Heavy') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Regular';
	src: url('../fonts/Lato-Regular.eot');
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Regular.woff2') format('woff2'),
		url('../fonts/Lato-Regular.woff') format('woff'),
		url('../fonts/Lato-Regular.ttf') format('truetype'),
		url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Semibold';
	src: url('../fonts/Lato-Semibold.eot');
	src: url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Semibold.woff2') format('woff2'),
		url('../fonts/Lato-Semibold.woff') format('woff'),
		url('../fonts/Lato-Semibold.ttf') format('truetype'),
		url('../fonts/Lato-Semibold.svg#Lato-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Bold';
	src: url('../fonts/Lato-Bold.eot');
	src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Bold.woff2') format('woff2'),
		url('../fonts/Lato-Bold.woff') format('woff'),
		url('../fonts/Lato-Bold.ttf') format('truetype'),
		url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Black';
	src: url('../fonts/Lato-Black.eot');
	src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Black.woff2') format('woff2'),
		url('../fonts/Lato-Black.woff') format('woff'),
		url('../fonts/Lato-Black.ttf') format('truetype'),
		url('../fonts/Lato-Black.svg#Lato-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}
body {
	background: #fafafa;
	font-family: 'Lato-Medium';
	font-size: 14px;
	margin: 0;
	padding: 0;
	color: #000;
	padding-bottom: 20px;
	overflow-x:hidden;
}
a, img, h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
	outline: none;
	border: 0;
	text-decoration: none;
	font-weight: normal;
}
img{max-width:100%;font-size:0;}
.clear{clear:both;}
.container {
	max-width: 980px;
	width: 98%;
	margin: auto;
}
.main-wraper {
	width: 100%;
	margin: auto;
}
body.toggle .side-bar{
 -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
overflow-x:hidden;
	left:-260px;
}
body.toggle .header{left:0;}
body.toggle .contetn-wrap{left:0;}
.side-bar{
width:260px;
-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
top:0;
bottom:0;
background:#a2282e;
position:fixed;
left:0;
z-index:99;
}
.profile-box{
text-align:center;
}
.profile-box .dp-box{width:78px;height:78px;border-radius:50%;overflow:hidden;margin:20px auto 10px;}
.profile-box .profle-name h1{color:#fff;font-size:19px;font-family:Myriad Pro;}
.profile-box .profle-name span.locations{background:url(../../../images/locaions-icon.png) no-repeat center left;padding: 0 0 0 12px;color:#c9c9c9;}
.profile-box .profle-name a.edit-profile{    border-radius: 18px;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 16px;
    display: inline-block;
    margin:14px 0;}
.side-menu ul li a{
    color: #fff;
    padding: 9px 0;
    display: block;
	border-left:4px solid #a2282e;
}
.side-menu ul li:hover a{background:#ff2531;border-left:4px solid #4c4d4f;}
.side-menu ul li ul.sub-menu{
right:-160px; padding: 10px;border-radius: 5px;border:1px solid #000;
position:absolute;width:145px;background-color: rgba(0, 0, 0, 0.7);top:0;
background: rgba(0, 0, 0, 0.7);
color: rgba(0, 0, 0, 0.7);display:none;}
.side-menu ul li:hover ul.sub-menu{display:block;}
.side-menu ul li ul.sub-menu li a{background:none;}
.side-menu ul li ul.sub-menu li:hover a{background:none;}
.side-menu ul li ul.sub-menu li a:hover{background:#a2282e; color:#fff;}
.side-menu ul li ul.sub-menu li a{font-size:13px; padding: 0;border:0;border-bottom:1px solid #838384; padding: 4px;color:#a1a1a1;}
.side-menu ul li{list-style:none;position:relative;}
.side-menu ul li a .icons{display: block;width: 53px;
    float: left;
    margin: 0 0 0 25px;}
	
.side-menu ul li a .links{overflow:hidden;font-size:14px;line-height: 28px;}
.side-menu ul li a .icons.home-icon{height:23px; background:url(../../../images/home-icon.png) no-repeat center left;}
.side-menu ul li a .icons.transfer-icon{height:25px; background:url(../../../images/arrows-icon.png) no-repeat center left;}
.side-menu ul li a .icons.Istamara-icon{height:25px; background:url(../../../images/istmara-icon.png) no-repeat center left;}
.side-menu ul li a .icons.number-icon{height:25px; background:url(../../../images/numbers-icon.png) no-repeat center left;}
.side-menu ul li a .icons.keys_icon{height:26px; background:url(../../../images/keys-icon.png) no-repeat center left;}
.side-menu ul li a .icons.vehicles-icon{height:25px; background:url(../../../images/car-icon.png) no-repeat center left;}
.side-menu ul li a .icons.insurance-icon{height:28px; background:url(../../../images/handcar-icon.png) no-repeat center left;}
.side-menu ul li a .icons.others-ioon{height:28px; background:url(../../../images/others-icon.png) no-repeat center left;}
.menu-bottom{margin: 20px 0;padding: 0 29px;}
.menu-bottom a.setting-btn{height:28px; background:url(../../../images/setting-icon.png) no-repeat center left;display:block;float:left;
color:#fff;font-size:10px;padding:0 0 0 32px;line-height:27px;}
.menu-bottom a.logout-btn{height:28px; background:url(../../../images/logout-icon.png) no-repeat center right;display:block;float:right;
color:#fff;font-size:10px;padding:0 30px 0 0;line-height:27px;}
.contetn-wrap{position:absolute;top:0;bottom:0;right:0;left:260px;height:100%; -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;}
.contetn-wrap .header{ background: #4c4d4f none repeat scroll 0 0;
	 -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
    height: 64px;
    left: 260px;
    position: fixed;
    right: 0;
    top: 0;}
.contetn-wrap .header .dashboard-btn{background:url(../../../images/menu-icon.png) no-repeat center left;
  color: #fff;
    display: block;
    float: left;
    font-size: 19px;
    height: 24px;
    margin: 20px 20px 0;
    padding: 0 0 0 40px;
}
.contetn-wrap .header .right-section{float:right;margin:4px 0;}
.contetn-wrap .header .right-section .menu{list-style:none;float:left;margin:20px 10px; }
.contetn-wrap .header .right-section .menu li{border-right:1px solid #fff; padding: 0 10px;display:inline-block;}
.contetn-wrap .header .right-section .menu li a{color:#fff;}
.contetn-wrap .header .right-section .menu li a:hover{color:#ff2531;}
.contetn-wrap .header .right-section .mail-icon{float:left;margin:20px 12px 0 0; }
.arabic .contetn-wrap .header .right-section .mail-icon a{margin-left:20px;}
.contetn-wrap .header .right-section .mail-icon a{width:21px;height:21px;background:url(../../../images/mail-icon-portal.png) no-repeat center left;position:relative;display:block;}
.contetn-wrap .header .right-section .mail-icon a span{position:absolute;bottom:0;width:10px;height:10px;border-radius:10px;background:#ff2531;color:#fff;line-height:10px;text-align:center;right:0;font-size:10px;}
.contetn-wrap .header .right-section .alert-icon{float:left;margin:20px 10px; }
.contetn-wrap .header .right-section .alert-icon a{width:21px;height:21px;background:url(../../../images/bel-icon.png) no-repeat center left;position:relative;display:block;}
.contetn-wrap .header .right-section .alert-icon a span{position:absolute;bottom:0;width:10px;height:10px;border-radius:10px;background:#ff2531;color:#fff;line-height:10px;text-align:center;right:0;font-size:10px;}
.inner-content{ margin: 64px 0 0;padding: 10px 20px;
 -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.breadcrubs{float:left;}
.breadcrubs ul{list-style:none;}
.breadcrubs ul li{display:inline-block;}
.breadcrubs ul li a{color:#4c4d4f;font-size:11px;}
.breadcrubs ul li::after{content:">";font-size:15px;color:#4c4d4f; position: relative;top: 2px;margin: 0 0 0 4px;}
.breadcrubs ul li:last-child::after{font-size:0;}
.breadcrubs ul li.home a{color:#a2282e;padding:1px 0 0 15px; background:url(../../../images/home-icon-small.png) no-repeat center left}
.acc_trigger .arrow{display:inline-block;width:11px;height:6px;margin: 2px 8px;background:url(../../../images/bottom-arrow.png) no-repeat center;}
.acc_trigger.active .arrow{background:url(../../../images/top-arrow.png) no-repeat center;}
.acc_trigger .red-tittle{display:inline-block;}
.custotmers-wrap{box-shadow: 0 0 4px #ccc;float: left;margin: 20px 0;width: 100%;background:#fff;}
.left{float:left;}
.customers-head{padding:10px 15px;border-bottom:1px solid #ccc;}
h3.red-tittle{color:#a2282e;font-size:18px;margin:0 0 3px;}
.black-title{color:#000; padding-bottom: 6px;font-size:14px; font-family: 'Lato-Bold';}
span.gray{font-size:12px;color:#aeaeae;display:block;}
span.gray.medium{font-size:13px;color:#727272;}
.disclaimer{background:url(../../../images/qs-icon.png) no-repeat center left;  color: #4c4d4f;
font-size: 12px;
margin: 6px 0 4px;
padding: 6px 0 5px 33px;}
.disclaimer span{color:#a2282e;	font-family: 'Lato-Bold';}
.right{float:right;}
.contaract-box{margin:25px 15px;}
.acc-wrap{ margin-bottom: 15px; box-shadow: 0 0 4px #ccc;border-radius:4px;overflow:hidden;}
.acc-wrap .acc-head.active{border-bottom:1px solid #e6e6e6;} 
.acc-wrap .acc-head{padding:10px 15px;border-left:4px solid #4c4d4f;}
.acc-wrap .acc-content{float:left;width:100% !important;}
.download-btn{ margin: 8px 0 0;}
.download-btn a{color:#a2282e;display:inline-block;border-radius:15px;border:1px solid #a2282e;padding:5px 10px;font-size:11px;} 
.red-btn{border: 1px solid #a2282e;
	border-radius: 15px;
    color: #a2282e;
    display: inline-block;
    font-size:10px;
    margin: 7px 2px;
    min-width: 58px;
    padding: 5px 10px;
    text-align: center;}
.ptop6{padding-top:6px;}
.pbottom6{padding-top:6px;}
.bottom-15{margin-bottom:15px;} 
.top-15{margin-top:15px;} 
.top-20{margin-top:20px;} 
.contract-detail{}
.contract-detail .statment table{width:100%}
.contract-detail .statment{width:100%;font-size:14px;}
.contract-detail .statment td{padding:6px 12px;color:#4c4d4f; border:1px solid #e0e0e0;border-top:0;border-left:0;}
.contract-detail .statment thead td{padding:8px 12px;background:#a2282e;color:#fff;border-top:0;border-left:0;}
.col3{width:31.333%;float:left;margin:10px 1%;}
.col4{float: left;
    margin:10px 0.5% 10px;
    width: 24%;}
.col4.billing-schedual{margin:0 0.5% 20px;}	
.billing-schedual ul{list-style:none;}
.billing-schedual ul li{padding:8px 15px;border-left:4px solid #a2282e;border-bottom:1px solid #e6e6e6;}
.billing-schedual ul li p{color:#727272;font-size:14px;}
.billing-schedual ul li:nth-child(odd){border-left:4px solid #4c4d4f;}
.billing-schedual ul li h2{font-weight:normal;color:#a2282e;font-family: 'Lato-Regular';}
.billing-schedual{box-shadow: 0 0 4px #ccc; border-radius:4px;overflow:hidden;}
.left-column{float:left;width:62.5%;}
.right-column{float:right;width:36%;}
.shadow{box-shadow: 0 0 4px #ccc;background:#fff;}
.left-red{border-left:4px solid #a2282e;}
.full-column{  padding: 0 15px; min-height: 59px;}
.col5{float:left;margin:10px 1%;width:18.8%;}
.col2{float:left;}
.quicks-links{width:58%;float:left;}
.login-history{width:40%;float:right;}
.tracklist-wrap ul.track-list{list-style:none;}
.tracklist-wrap ul.track-list li:nth-child(2n+1){border-left:4px solid #a2282e;}
.tracklist-wrap ul.track-list li{border-bottom:1px solid #e0e0e0; border-left: 4px solid #4c4d4f;padding: 10px 15px;}
.tracklist-wrap{max-height:330px;overflow-x:auto;}
/** edited margin **/
.contact-form .three-half-box {
    float: left;
    margin: 0 1% 24px 0;
    width:32.333%;
}

.contact-form .full-box {
    float: right;
    margin: 0 1% 10px 0;
    width: 98%;
}
.contact-form label{
font-size:12px;
display:block;color:#888888;
}
.right-text{text-align:right;}
button.red-btn{background:#fff;font-size:15px;cursor:pointer;padding:5px 20px;}
/* edited */
input[type="submit"].red-btn{background:#fff;font-size:15px;cursor:pointer;padding:5px 20px;}
/* edited */
.contact-form select {
    border-radius: 3px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 42px;
    line-height: 20px;
    margin-bottom: 9px;
    margin-top:4px;
/*    padding: 4px 6px;*/
    width: 100%;
	border:1px solid #e2e2e2;
	box-shadow:0 0 2px #e2e2e2 inset; 
}
.contact-form input[type="text"], .contact-form input[type="password"], .contact-form input[type="number"], .contact-form input[type="tel"], .contact-form input[type="search"], .contact-form input[type="month"], .contact-form input[type="email"], .contact-form textarea {
    border-radius: 3px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 38px;
    line-height: 20px;
    margin-bottom: 9px;
    margin-top:4px;
/*    padding: 4px 6px;*/
    width: 100%;
	border:1px solid #e2e2e2;
	box-shadow:0 0 2px #e2e2e2 inset; 
}
.side-menu ul li.bottom-menu ul.sub-menu {
    top: inherit;
    bottom: 0;
}
/*arabic css*/
.arabic .contetn-wrap .header .right-section .menu li:first-child{
border-right:0;
}
.arabic .breadcrubs ul li::after{content:"<";font-size:15px;color:#4c4d4f; position: relative;top: -2px;margin: 0 4px 0 4px;
float:left;
}
.arabic .side-bar{
left:inherit;
right:0;
}
.arabic .side-menu ul li a .icons{
float:right;
}
.arabic .contetn-wrap,.arabic .contetn-wrap .header{
right:260px;
left:0;
}
.arabic .left{
float:right;
}
.arabic .right{
float:left;
}
.arabic .contetn-wrap .header .right-section{
float:left;
}
.arabic .contetn-wrap .header .right-section .mail-icon{
float:right;
margin-right:0;
}
.contetn-wrap .header .dashboard-btn{
float:right;
background: rgba(0, 0, 0, 0) url("../../../images/menu-icon.png") no-repeat scroll right center;
color: #fff;
padding:0 40px 0 0;
}
.arabic .contetn-wrap .header .right-section .alert-icon{
float:right;
}
.arabic .disclaimer{
 background: rgba(0, 0, 0, 0) url("../../../images/qs-icon.png") no-repeat scroll right center;
padding: 6px 33px 5px 0;
}
.arabic .side-menu ul li a:hover{
border-right:4px solid #4c4d4f;
}
.arabic .side-menu ul li a{
border-right: 4px solid #a2282e;
border-left:0;
}
body.arabic.toggle .side-bar{
right: -292px;
left:inherit;
}
body.arabic.toggle .contetn-wrap{
right:0;
}
body.arabic.toggle .header{
right:0;
}
.arabic .contact-form .three-half-box{
float:right;
}
.arabic .breadcrubs ul li{
float:left;
}
.arabic .breadcrubs ul li:first-child::after{
display:none;
}
.arabic .side-menu ul li ul.sub-menu{
 left: -160px;
 right:inherit;
}
@media all and (max-width:1100px) {
.header .right-section{float:left;width:100%;}
.header .dashboard-btn{position:absolute;}
.header .mob-menu-wrap{width:100%;float:left;}
.contetn-wrap .header{ min-height: 64px;height:auto;}
.menu{display:none;}
a.mob-menu{
 background:url("../../../images/menu-icon.png") no-repeat scroll left center;
    color:#fff;
    display:block;
    float: left;
    font-size: 19px;
    height:24px;
    margin:22px 10px 0;
    width:24px;
	position:absolute;
	right:169px;
	top:0;
}
.contetn-wrap .header .right-section .menu{float:none;}
.left-column,.quicks-links,.login-history{width:100%;}
.arabic a.mob-menu{
left: 169px;
right:inherit;
}
.right-column{width:100%;}
}

@media all and (max-width:900px){
.arabic .side-menu ul li ul.sub-menu{
left:0;
display:none;
right:0;
}

.arabic .sub-btn{left:10px;right:inherit;}
.sub-btn{position:absolute;width:25px;height:25px;background:#fff;right:10px;top:10px;}
.sub-btn::after{content:"";content: "+";
    display: block;
    margin: 4px 0;
    text-align: center;
    z-index: 999;}
.side-bar{left: -260px;}

.contetn-wrap,.contetn-wrap .header{left:0;}
body.arabic.toggle .side-bar{right:0;left:inherit;}
.arabic .side-bar{right:-260px;}
body.toggle .side-bar{left:0;}
.arabic .contetn-wrap, .arabic .contetn-wrap .header{
right:0;
}
body.arabic.toggle .contetn-wrap,body.arabic.toggle .contetn-wrap .header{ right: 260px;
    left: -260px;}
body.toggle .contetn-wrap,body.toggle .contetn-wrap .header{ left: 260px;
    right: -260px;}	
.side-menu ul li a .icons{  margin: 0 0 0 5px;}
.side-menu ul li ul.sub-menu{position:relative;width:auto;border-radius:0;display:none;right:inherit;}
.side-bar{overflow-y:auto}	
} 
@media all and (max-width:700px){
.contract-detail .statment {
    overflow-x: auto;
}
.col4{
 width: 99%;
}
}
@media all and (max-width:600px){
.contact-form .three-half-box{
width:100%;
margin:0 0 5px;
}
.inner-content .left{
width:100%;
}
.arabic .inner-content .right{
float:right;
}
.inner-content .right{
float:left;
}
.col3,.col5{
width:98%;
}
.arabic .contetn-wrap .header .dashboard-btn{
padding: 0 30px 0 0}
.contetn-wrap .header .dashboard-btn{font-size:13px;line-height: 24px;
margin:20px 10px 0;
}

}
@media all and (max-height:645px){
.side-menu ul li a{padding:6px 0;}
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 1px solid red!important;
}

label.error, .error {
    color: #8c2e0b;
}
/** edited label **/
label.error {
	position: absolute;
}

div.error, .error {
    color: #8c2e0b;
}

/* edited */
.hideblock {
	display: none;
}